html {
    height: 100vh;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #8fc0f1;
}

.container {
    width: 100%;
    text-align:  center;
    margin-top: 250px;
}

#tittle {
    color: #be4a4a;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

#calculate {
    width: 150px;
    height: 40px;
    border: 0;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 10px;
    color: #fff;
    background-color: #ff0000;
    cursor: pointer;
    
}

#inputText{
    width: 350px;
    height: 36px;
    border: 1px solid #ff0000;
    outline: none;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 10px;
    color: #000;
    text-align: center;
    font-family: sans-serif;
}

.alert {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0;
    width: 100%;
}
.alert.alert-success {
    background-color: #e94040;
    color: #f8f8f8;
}